{% extends "base.html" %}
{% block content %}
<div class="container mx-auto py-10 px-4">
    <h1 class="text-4xl font-bold text-center mb-10 text-primary">Personal Blog</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for post in posts %}
        <a href="{% url 'post_detail' post.pk %}"
            class="card bg-base-100 border rounded-lg shadow-xl hover:shadow-2xl transition-shadow duration-300 ">
            <div class="card-body p-6">
                <h2 class="card-title text-primary">{{ post.title }}</h2>
                <p class="text-sm text-gray-600 line-clamp-3">{{ post.content|truncatewords:30 }}</p>
                <p class="text-xs text-gray-500 mt-3">
                    {{ post.updated_at }}
                </p>
            </div>
        </a>
        {% endfor %}
    </div>

    {% if posts|length == 0 %}
    <p class="text-center text-gray-500 mt-10">No posts available yet.</p>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'create_post' %}" class="btn btn-primary">Create Post</a>
    {% endif %}
</div>
{% endblock %}