{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="card bg-base-100 shadow-xl">
    <div class="card-body p-12">
        <h2 class="card-title text-3xl">{{ post.title }}</h2>
        <div class="mt-4 prose max-w-none">
            {{ rendered_content|safe }}
        </div>
        <!-- Delete Button -->
        <form action="{% url 'post_delete' post.pk %}" method="post" class="mt-6">
            {% csrf_token %}
            <button type="submit" class="btn btn-error py-2 px-8">Delete Post</button>
        </form>
    </div>

    <a href="{% url 'home' %}" class="btn btn-outline py-2 px-12">Back to Home</a>
</div>
{% endblock %}