{% extends "base.html" %}
{% block content %}
<div class="max-w-3xl mx-auto mt-8 mb-16 px-4">
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
            <h1 class="text-3xl font-bold text-center mb-4">Login</h1>

            <form method="POST" class="space-y-6">
                {% csrf_token %}

                <!-- Title -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text text-lg font-medium">Username</span>
                    </label>
                    <input type="text" name="username" placeholder="Ex : kosuram"
                        class="input input-bordered input-primary w-full focus:ring-2 focus:ring-primary" required>
                </div>

                <!-- Content -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text text-lg font-medium">Password</span>
                    </label>
                    <input type="password" name="password" placeholder="Ex : pocong123"
                        class="input input-bordered input-primary w-full focus:ring-2 focus:ring-primary" required>
                </div>

                <!-- Submit Button -->
                <div class="flex justify-center">
                    <button type="submit" class="btn w-full btn-primary flex items-center gap-2 px-6">
                        <span>Login</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}